@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,500&display=swap');

*{margin: 0;
padding: 0;
box-sizing: border-box;
}
header{
    display: flex;
}
.nav-left,.nav-right{
    flex-grow: 1;
    
}
.nav-left{
    background-color: #292929;
}

.left-container{
    max-width: 590px;
    margin-left:  auto;
}
.right-container{
    max-width: 590px;
    margin-right:  auto;
}

.container{
    max-width: 1180px;
    margin: 0 auto;
}

li{
    list-style-type: none;
    a{
        text-decoration: none;
    }
}



.nav-wrapper{
    flex: 1;
    background-color: #292929;
    padding: 28px;

}
.nav-box{
    flex: 1;
    padding: 30px 0 27px 74px;
}
.nav-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-div span{
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.44px;
    color: #1B1B1B;
}
.nav-btn button{
    border: 1px solid #000000;
    padding: 12px 26px;
    border-radius: 200px;
    background-color: #fff;
    text-transform: uppercase;
    margin: 0 10px;
    outline: none;
}
.nav-btn button:hover{
    background-color: #BC2222;
    color: #fff;
    border: none;
}
.nav-ul{
    display: flex;
    padding-top: 30px;
    gap: 48px;
}
.nav-ul a{
    color: #1B1B1B;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.44px;
    text-align: center;
    text-transform: uppercase;
}
.main-wrapper{
    background-color: #292929;
}
.main-text{
    padding: 200px 0 161px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    color: #fff;
}
.main-text span{
    font-family: "Raleway", sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 24.65px;
}
.main-text h1{
    font-family: "Baskerville Old Face"sans-serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 64px;
    text-align: center;
}
.main-bord{
    width: 100%;
    border: 2px solid #fff;
    max-width: 980px;
}

.footer-wrap{
    background-color: #1B1B1B;
}
.footer-box{
    padding: 90px 0;
    display: flex;
    justify-content: space-between;
}
.footer-box strong{
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.44px;
    text-align: left;
    color: #fff;
}
.footer-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media only screen and (max-width:1025px) {
    .nav-left,.nav-right{
        flex: 0;

    }
    .nav-ul{
        display: none;
    }
}
@media only screen and (max-width:700px) {
    .nav-box{
        display: flex;
        justify-content: flex-end;
        padding:0;
    }
     .nav-box img{
        display: inline-block;

    }
    .nav-div{
        display: none;
    }
}